<div class="page-header">
  <h1>Price Lookup</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Brands</th>
    </tr>
  </thead>
  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= link_to brand.name, brand_locations_path(brand) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

