<div class="page-header">
  <h1>Price Lookup</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= "#{@brand.name} #{@location.name}" %> - Order Types:</th>
    </tr>
  </thead>
  <tbody>
    <% @order_types.each do |ot| %>
      <tr>
        <td><%= link_to ot.name, location_order_type_prices_path(@location, ot) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

