<h3><%= "#{@location.brand.name}'s #{@location.name}" %></h3>
<h4>New Price Level Association</h4>

<%= render 'form' %>

<%= link_to 'Back', location_price_level_associations_path, class: "btn btn-default" %>
