<div class="day_part_fields">
  <div class="field">
    <%= day_part.label :name %><br>
    <%= day_part.text_field :name %>
    <%= day_part.check_box :_destroy %>
    <%= day_part.label :_destroy, 'Remove' %>
  </div>
</div>